* {
  box-sizing: border-box;
}

@import url('https://rsms.me/inter/inter.css');


@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

html {
  height: 100%;
  width: 100%;
  max-width: 75%;
  margin: auto;
}

h1 {
  font-size: 64px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
  padding-top: 0.6em;
  padding-bottom: 0em;
  font-weight: bold;
}

p {
  margin: 0px;
  padding-top: 1.2em;
  font-family: 'Inter', sans-serif;
}

a {
  color: #0926E6;
  text-decoration-line: none;
}

.logo {
  padding-top: 10px;
  height: 50px;
}

p.footer {
  color: grey;
}

#canvas-wrapper {
  height: 480px;
  margin-top: 0.6em;
}

#label {
  font-size: 1.2em;
}

#friends {
  color: grey;
  font-size: 1em;
}
